*, *::before, *::after {
  box-sizing: border-box;
  margin:0px;
  padding:0px;
  border:solid 0px blue;
}

.container {
  padding: 10% 15% 5% 15%;
  text-align: left;
  width: 80vw;
}

.avatar {
  width: 10rem;
  border-radius: 50%;
  margin-bottom: 2.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Josefin Slab', serif;
  line-height: 80%;
  margin-top: 2.5rem;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 10rem;
  font-weight: 100;
}

h3 {
  font-size: 3rem;
  margin-bottom: 5rem;
  font-weight: 100;
}

h4 {
  font-size: 1.5rem;
  font-weight: 700;
}

.welcome-section h4 {
  margin-bottom: 1.5rem;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 130%;
  margin-bottom: 1rem;
}

hr {
  height: 5px;
  background-color: darkorange;
  width: 100px;
  margin-top: 6rem;
}

a {
  font-weight: 700;
  color: black;
  text-decoration: wavy underline black 1px;
}

a:hover {
  color: darkorange;
  text-decoration: wavy underline darkorange 1px;
}

.about-section__item {
  margin: 2rem 0;
}

li {
  display: inline;
  list-style-type: disc;
  font-size: 1.5rem;
  margin-right: 0.25rem;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 90vw;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 90vw;
  }
}

@media (max-width: 540px) {
  .container {
    width: 90vw;
  }

  h1 {
    font-size: 6rem;
  }
}
